<p id="notice"><%= notice %></p>

<%= form_tag(employees_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search" %>
<%= submit_tag "Search" %>
<% end %>
<p id="notice"><%= notice %></p>

<% if current_user %>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= link_to "Sing Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>
<p id=”notice”><%= notice %></p>
<h1>Employees</h1>
<p><%= link_to 'Departments', departments_path %></p>
<p>
<%= link_to "Create new employee", new_employee_path %>
</p>
<table>
  <%= will_paginate %>
 <tr>
  <th>ID</th>
  <th>Name</th>
  <th>Active</th>
  <th>Department</th>
  <th>Actions</th>
 </tr>
 <% @employees.each do |employee| %>

 <tr>
  <td><%= employee.id %></td>
  <td><%= employee.name %></td>
  <td><%= employee.active %></td>
  <td><%= employee.department.name %></td>
  <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
  <td><%= link_to 'Show', employee_path(employee) %></td>
  <td><%= link_to 'Delete', employee_path(employee), method: :delete, data: {confirm: "Are you sure?"} %></td>
 </tr>


 <% end %>
</table>
